################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net10.0
/obj
/Users.Dominio/bin/Debug/net10.0
/Users.Dominio/obj
/Users.Infra/bin/Debug/net10.0
/Users.Infra/obj
/Users.AppService/obj/Debug/net10.0/refint/Users.AppService.dll
/Users.AppService/obj/Debug/net10.0/ref/Users.AppService.dll
/Users.AppService/obj/Debug/net10.0/Users.AppService.AssemblyInfo.cs
/Users.AppService/obj/Debug/net10.0/Users.AppService.AssemblyInfoInputs.cache
/Users.AppService/obj/Debug/net10.0/Users.AppService.assets.cache
/Users.AppService/obj/Debug/net10.0/Users.AppService.csproj.AssemblyReference.cache
/Users.AppService/obj/Debug/net10.0/Users.AppService.csproj.BuildWithSkipAnalyzers
/Users.AppService/obj/Debug/net10.0/Users.AppService.csproj.CoreCompileInputs.cache
/Users.AppService/obj/Debug/net10.0/Users.AppService.csproj.FileListAbsolute.txt
/Users.AppService/obj/Debug/net10.0/Users.AppService.dll
/Users.AppService/obj/Debug/net10.0/Users.AppService.pdb
/Users.AppService/obj/Debug/net10.0/Users.AppService.sourcelink.json
/Users.AppService/obj/project.assets.json
/Users.AppService/obj/project.nuget.cache
/Users.AppService/obj/Users.AppService.csproj.nuget.dgspec.json
/Users.Api/Users.Api.csproj
/Users.Api/Users.Api.csproj.Backup.tmp
/Users.AppService/Users.AppService.csproj
/Users.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/Users.Api/obj/Debug/net10.0/EndpointInfo/Users.Api.json
/Users.Api/obj/Debug/net10.0/Users.Api.AssemblyInfo.cs
/Users.Api/obj/Debug/net10.0/Users.Api.AssemblyInfoInputs.cache
/Users.Api/obj/Debug/net10.0/Users.Api.assets.cache
/Users.Api/obj/Debug/net10.0/Users.Api.csproj.AssemblyReference.cache
/Users.Api/bin/Debug/net10.0
/Users.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/Users.Api/obj/Debug/net10.0/Users.Api.AssemblyInfo.cs
/Users.Api/obj/Debug/net10.0/Users.Api.AssemblyInfoInputs.cache
/Users.Api/obj/Debug/net10.0/Users.Api.assets.cache
/Users.Api/obj/Debug/net10.0/Users.Api.csproj.AssemblyReference.cache
/Users.Api/bin/Debug/net10.0/Microsoft.OpenApi.dll
/Users.Api/bin/Debug/net10.0/Users.Api.deps.json
/Users.Api/bin/Debug/net10.0/Users.Api.dll
/Users.Api/bin/Debug/net10.0/Users.Api.exe
/Users.Api/bin/Debug/net10.0/Users.Api.pdb
/Users.Api/bin/Debug/net10.0/Users.AppService.dll
/Users.Api/bin/Debug/net10.0/Users.AppService.pdb
/Users.Api/bin/Debug/net10.0/Users.Dominio.dll
/Users.Api/bin/Debug/net10.0/Users.Dominio.pdb
/Users.Api/bin/Debug/net10.0/Users.Infra.dll
/Users.Api/bin/Debug/net10.0/Users.Infra.pdb
/Users.Api/obj/Debug/net10.0/EndpointInfo/Users.Api.json
/Users.Api/obj/Debug/net10.0/ref/Users.Api.dll
/Users.Api/obj/Debug/net10.0/refint/Users.Api.dll
/Users.Api/fiapdb-usuario.db-shm
/Users.Api/fiapdb-usuario.db-wal
/Users.Api/obj/Debug/net10.0/apphost.exe
/Users.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/Users.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/Users.Api/obj/Debug/net10.0/Users.Api.csproj.CoreCompileInputs.cache
/Users.Api/obj/Debug/net10.0/Users.Api.csproj.FileListAbsolute.txt
/Users.Api/obj/Debug/net10.0/Users.Api.dll
/Users.Api/obj/Debug/net10.0/Users.Api.MvcApplicationPartsAssemblyInfo.cs
/Users.Api/obj/Debug/net10.0/Users.Api.pdb
/Users.Api/obj/Debug/net10.0/Users.Api.sourcelink.json
/Users.Api/obj/project.assets.json
/Users.Api/obj/project.nuget.cache
/Users.Api/obj/Users.Api.csproj.nuget.dgspec.json
/Users.Api/obj/Users.Api.csproj.nuget.g.props
/Users.Api/obj/Users.Api.csproj.nuget.g.targets
/Users.AppService/bin/Debug/net10.0/Users.AppService.deps.json
/Users.AppService/bin/Debug/net10.0/Users.AppService.dll
/Users.AppService/bin/Debug/net10.0/Users.AppService.pdb
/Users.AppService/bin/Debug/net10.0/Users.Dominio.dll
/Users.AppService/bin/Debug/net10.0/Users.Dominio.pdb
/Users.AppService/bin/Debug/net10.0/Users.Infra.dll
/Users.AppService/bin/Debug/net10.0/Users.Infra.pdb
/Users.Api/obj/Container/ContainerDevelopmentMode.cache
*.cache
